<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetroZaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A2400BA1CA8D36200C8EC95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2400D31CA8D36200C8EC95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2400DE1CA8D36200C8EC95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
